.button {
  border: 2px solid black;
  /* height: 2.8rem; */
  /* width: 10rem; */
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 15px;
  font-weight: 500;
}

.button_proyect {
  background-color: var(--yellow-color);
}

.button_inverted {
  background-color: black;
  color: var(--yellow-color);
}

.button_inverted:hover {
  background-color: #e1e679;
  color: black;
}

.button_proyect:hover {
  background-color: black;
  color: var(--yellow-color);
}

.button_get_started {
  /* background-color: #fef9c3; */
  border: 2px solid #72744a;
  color: #72744a;
}

.button_get_started:hover {
  background-color: #e1e679;
  color: black;
}
