header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--rtc-padding-s);
  height: 6rem;
}

.nav_header_container {
  height: 45%;
  width: 30vw;
  display: flex;
  justify-content: center;
}
