.cartas {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
}

.cartas:hover {
  transform: scale(1.05);
}

#cartas_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.carta_imagen {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.carta_overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to top,
    rgba(202, 138, 4, 0.9),
    transparent
  );
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.cartas:hover .carta_overlay {
  opacity: 1;
}

.carta_content {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: rgb(0, 0, 0);
  z-index: 2;
  background-color: transparent;
}

.carta_titulo {
  /* font-size: 1.25rem; */
  font-weight: 700;
  margin-bottom: 0.5rem;
  background-color: transparent;
  opacity: 0.9;
}

.carta_descripcion {
  /* font-size: 0.875rem; */
  font-weight: 400;
  opacity: 0.7;
  font-size: 1rem;
  color: black;
  background-color: transparent;
}
