@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  font-family: 'Share Tech Mono', serif;
  /* font-weight: 900; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background-color: var(--background-color);
  cursor: none !important;
}

:root {
  --first-color--: black;
  --second-color--: white;
  --third-color--: rgb(92, 27, 27);
  --header-color--: #a9b388;
  --background-color: #ffffff;

  --yellow-color: #f8ff72;
  --olive-color: #e1e679;

  --rtc-padding-s: 10px;
}
